body{
    font-family: poppins, sans-serif;
    background: url(uni2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.header{
    background-color: #02028e;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    visibility: hidden;
}
.header .logo{
    font-size: 1rem;
}
.container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
}
h2{
    text-align: center;
    color: #333;
}
form{
    font-family: poppins, sans-serif;
    color: #666;
}
button{
    color: #ffffff;
    background-color: #007bff;
    padding: 1px;
    border-radius: 5px;
    width: 100px;
}
label{
    color: #000000;
}
input{
    color: #000000;
    background-color: transparent;
    padding: 5px 5px 5px 8px;
    border-radius: 10px;
    width: 115px;
    height: 15px;
}
input::placeholder{
    color: #000000;
}

p{
    color: #000000;
}
input[type="radio"]{
    display: none;
}
input[type="radio"] + label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
input[type="radio"] + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 50%;
    background-color: #fff;
}
input[type="radio"]:checked + label:before{
    background-color: #007bff;
    border-color: #007bff;
    padding: px;
}
select{
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #868383;
    border-radius: 20px;
    appearance: none;
    background-color: #f9f9f9;
    cursor: pointer;
}
select::-ms-expand{
    display: none;
}
option{
    padding: 8px;
    font-size: 16px;
}
.container .errors{
    color: #fa0000;
}
.container .no_errors{
    color: #00fa21;
}
@media(max_width: 500px){
    body{
        background-color: #fff;
        background: none;
    }
    .container{
        box-shadow: none;
        width: 350px;
    }
    h2{
        text-align: center;
        color: #333;
        font-size: 20px;
    }
    .header{
        visibility: visible;
    }
}