body{
    font-family: poppins, sans-serif;
    background: url(uni2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.header{
    background-color: #02028e;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    visibility: hidden;
}
.header .logo{
    font-size: 1rem;
}
.container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 710px;
    height: auto;
}
h2{
    text-align: center;
    color: #333;
}
form{
    font-family: poppins, sans-serif;
    color: #666;
}
table{
    background-color: #fff;
    padding: 1px;
    border-radius: 5px;
    width: 700px;
}
button{
    color: #ffffff;
    background-color: #007bff;
    padding: 1px;
    border-radius: 5px;
    width: 100px;
}
label{
    color: #000000;
}
input{
    color: #000000;
    background-color: transparent;
    padding: 5px 5px 5px 8px;
    border-radius: 10px;
    width: 102px;
    height: 15px;
}
input::placeholder{
    color: #000000;
}
.container .errors{
    color: #ff0000;
}
@media(max_width: 500px){
    body{
        background: none;
        background-color: #ffffff;
    }
    .container{
        box-shadow: none;
        width: 100px;
    }
    .header{
        visibility: visible;
    }
}